.css-hyum1k-MuiToolbar-root {
  background: #1e0036;
}
.css-1f2xuhi-MuiDrawer-docked .MuiDrawer-paper {
  background: rgb(164 58 248 / 9%);
}

.css-cveggr-MuiListItemIcon-root i{
    color: #1e0036;   
}

.css-tlelie-MuiListItemText-root span {
    color: #1e0036;
}

 